@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string result = ViewData["ResultMessage"].ToString();
}

<h1>@result</h1>
